#popup {
  -webkit-box-shadow: 0px 0px 29px -14px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 29px -14px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 29px -14px rgba(0, 0, 0, 0.8);
  animation: popupAnimation 8.5s ease;
  transform: translate(-50%, -200px);
}

@keyframes popupAnimation {
  0% {
    transform: translate(-50%, -200px);
  }

  20% {
    transform: translate(-50%, -10px);
  }
  80% {
    transform: translate(-50%, -10px);
  }

  100% {
    transform: translate(-50%, -200px);
  }
}
